.container {
	text-align: center;
}

.container legend {
	margin-top: 70px;
}

.try-input {
	height: 70px;
	width: 70px;
	font-size: 250%;
	margin-top: 10px;
}

.submit-btn {
	display: block;
	border-radius: 7px;
	height: 50px;
	width: 170px;
	margin-top: 30px;
	margin-left: calc(50% - 85px);
	color: white;
	font-size: 160%;
	background-color: skyblue;
}